.extraDiv {
  height: 77vh;
  width: 100vw;
  font-family: "Raleway", sans-serif;
}
.page_wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("../../assets/images/products.jpg");
  background-repeat: no-repeat;
  overflow-y: scroll;
  background-size: cover;
}

.pagination_btn {
  button {
    color: white;
  }
  li {
    color: white;
  }
}
.content {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 69px;
  background-color: rgba($color: #000000, $alpha: 0.7);
  text-align: center;
  color: white;
  margin: 36px 0 42px 0;
}

.categories {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin-bottom: 40px;
}

.contentRow {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding-bottom: 92px;

  .pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .pag_buttons {
    display: flex;
    list-style: none;
    li {
      background: #19191a;
      padding: 8px;
      margin: 8px;
      a {
        color: white;
      }
      border-radius: 4px;
      transition: all 0.3s;
    }
    li:hover {
      background: #3d3d3d;
      padding: 8px;
    }
  }

  .pag_buttons a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
