.buttonContainer {
  label {
    margin-left: 8px;
  }

  input {
    /* stylelint-disable */

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* stylelint-enable */

    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid #999;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 5px;

    position: relative;
    top: 4px;
  }

  input:checked {
    border: 6px solid red;
  }
}
