.form {
  display: flex;
  flex-direction: column;
}

.formWrapper {
  background: white;
  border-radius: 9px;
  width: 480px;
  height: 500px;
  color: #212529;
  align-items: center;
  overflow-y: scroll;
  overflow: auto;
  display: flex;
  justify-content: center;

  form {
    display: flex;
    margin: 10px 0;
    div {
      margin: 7px 0;
    }
  }

  .inputItem {
    position: relative;
    margin: auto;
    width: 80%;
  }
}
