.sureWrapper {
  width: 500px;
  flex-direction: column;
  background: black;
  justify-content: center;

  .buttons {
    display: flex;
    justify-content: center;
    margin: 20px auto;

    button {
      padding: 6px 18px;
      margin: 0 20px;
      font-size: 16px;
      color: white;
      background: transparent;
      border: 1px solid white;
      box-shadow: 0 0 10px white;
      border-radius: 3px;
      transition: all 0.2s ease-in-out;
      transition-property: border, box-shadow;
    }

    button:active {
      border: 1px solid red;
      box-shadow: 0 0 10px red;
    }
  }
}
