@import "../../../components/homeComponent/shared.module.scss";

.dropdown {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;

  select {
    width: 100px;
    background: $half-transparent-black;
    border: none;
    border-bottom: solid 2px white;
    color: white;
    padding: 3px;
    padding-bottom: 6px;
  }
}
