@import "../../../components/homeComponent/shared.module.scss";

.dropdown {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  width: 100%;

  button {
    width: 100%;
    background-color: royalblue !important;
  }
  a {
    color: white;
  }
  .menu {
    width: 100%;
    background: rgba($color: #3d3d3d, $alpha: 0.9);
  }
  select {
    width: 100px;
    border: none;
    border-bottom: solid 2px white;
    color: white;
    padding: 3px;
    padding-bottom: 6px;
  }
}
