.card_container {
  margin: 10px 5px;
  flex-direction: column;
  border-radius: 6px;
  color: white;
  background-color: rgba($color: #131516, $alpha: 0.9) !important;
}

.btn {
  width: 100%;
  background-color: #2d81e0 !important;
}
