@import "../../components/homeComponent/shared.module.scss";

.drowdown_wrapper {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  position: absolute;
  margin-top: 15px;
  left: 0px;
  background: #121212;
  padding: 4px;
  z-index: 1;
}

.drowdown_wrapper:hover {
  display: flex;
}

.option {
  margin: 10px 5px;
  color: white;
  transition: color 0.6s ease;
  animation: none;
  width: 120px;
}

.option:hover {
  color: red;
}

.active {
  border-bottom: 2px solid $accent;
  padding-bottom: 10px;
}
