.column {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: calc(100%);
  flex-grow: 1;
  overflow: hidden;

  a {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: #fffcfc;
    position: absolute;
    font-size: 26px;
    opacity: 0;
    transition: all 0.4s;
    box-shadow: none;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s;
  }
  img:hover {
    scale: (1.2);
  }
  a:hover {
    opacity: 1;
  }
  x1 a:hover ~ img {
    scale: (1.2);
  }

  img:hover ~ a {
    opacity: 1;
  }
}
