/* stylelint-disable */
@import "../../../components/homeComponent/shared.module.scss";

.flipCard {
  background-color: transparent;
  width: 180px;
  height: 280px;
  perspective: 600px;

  display: flex;
  margin: 16px min($numbers: 30px);

  .flipInner {
    box-shadow: 0 0 20px $accent;
    border-radius: 10px;

    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

    p {
      font-size: 14px;
      color: white;
    }

    .flipFront {
      display: flex;
      justify-content: center;
      transition: opacity 0.8s ease-out;
      background-color: $half-transparent-black;

      .coverImage {
        top: 0;
        border-radius: 10px;
        width: 100%;
        max-height: 198px;
        height: 198px;

        object-fit: cover;

        transition: opacity 0.8s ease-out;
      }
    }

    .flipFront,
    .flipBack {
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
    }

    .flipBack {
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      justify-content: center;
      color: white;
      transform: rotateY(180deg);

      .backText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 16px auto;
      }

      button {
        width: 50%;
        height: 10%;
        border-radius: 5px;
        margin: 10px auto;
        background: rgba($color: #ff0000, $alpha: 0.7);
        color: black;
        border: 0px;
        transition: all 0.3s linear;
        transition-property: color, background;
      }

      button:active {
        color: black;
        background: red;
      }
    }

    .bottomColumns {
      margin-top: 10px;
      display: flex;
      margin-left: min(10px);
      margin-right: min(10px);
      justify-content: space-evenly;
      flex-direction: column;
      color: white;

      p {
        margin: 0;
      }
    }
  }

  &:hover .flipInner {
    transform: rotateY(180deg);

    .flipFront {
      opacity: 0;
    }
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 80%;

  select,
  input {
    option {
      background: black;
    }
    margin: 8px;
    background: transparent;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    color: white;
    padding: 6px;

    border-bottom: 2px solid white;
  }

  input {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
