.category {
  width: 228px;
  height: 56px;
  box-sizing: border-box;
  text-align: center;
  margin: 10px 20px;
  border-radius: 4px;
  background: #201c1c;
  color: #609ce4;
  padding: 0 10px;
}

.selected {
  padding-bottom: 3px;
  border-bottom: 3px solid #609ce4;
}
