.category {
  display: flex;
  width: 228px;
  height: 56px;
  box-sizing: border-box;
  text-align: center;
  margin: 10px 20px;
  border-radius: 4px;
  align-items: center;
  background: rgba($color: black, $alpha: 0.7);
  color: #fff;
  padding: 0 10px;
  p {
    margin: auto;
  }
}

.selected {
  padding-bottom: 3px;
  border-bottom: 3px solid #609ce4;
}
