.img {
  width: 24px;
}

.imageContainer {
  display: flex;
  position: relative;
  justify-content: center;

  .initials {
    position: absolute;
    top: -32px;
    left: 3px;

    font-size: 16px;
    line-height: 50px;
    color: black;
    font-family: "Courier New", monospace;
    font-weight: bold;
  }

  .avatarCircle {
    position: absolute;
    top: -24px;
    right: -18px;

    width: 16px;
    height: 16px;
    background-color: #6666ff;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }
}
